* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

header {
  margin: 0 auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  background-color: white;
}

body {
  margin: 0 auto;
}

.show-mobile {
  display: block;
}

.show-desktop {
  display: none;
}

.container {
  background-color: white;
  position: relative;
}

#statusbar {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 27px;
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
}

#toolbar {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
}

#menu {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-right: 24px;
  color: #7f8cff;
}

#main-section::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-image: url(assets/header-shape-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom-left-radius: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.column {
  width: 375px;
  height: 718px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 114px;
  display: flex;
  flex-direction: column;
  padding-top: 66px;
  padding-left: 21px;
  padding-right: 9px;
  align-items: start;
}

@media only screen and (min-width: 376px) {
  .show-desktop {
    display: block;
  }

  .show-mobile {
    display: none;
  }

  #statusbar {
    display: none;
  }

  header {
    width: 100%;
    padding-right: 12.9%;
    padding-left: 9%;
    margin: 0;
  }

  #menu {
    display: none;
  }

  #main-section::before {
    display: none;
  }

  .show-desktop ul {
    padding-left: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .show-desktop ul li {
    margin-left: 9%;
  }

  #main-section .column {
    background-color: #fff;
    background-image: url(assets/header-shape-mobile.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-bottom-left-radius: 80px;
    margin: 0 auto 90px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 540px;
    z-index: -1;
  }

  #main-section .column > * {
    margin-left: 1rem;
  }

  #main-section .column h1 {
    margin-top: 105px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    background: #f7f7f9 !important;
  }

  .show-desktop {
    display: block;
  }

  .show-mobile {
    display: none;
  }

  #statusbar {
    display: none;
  }

  header {
    width: 100%;
    padding-right: 12.9%;
    padding-left: 9%;
    margin: 0;
  }

  #menu {
    display: none;
  }

  .show-desktop ul {
    padding-left: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .show-desktop ul li {
    margin-left: 9%;
  }

  #main-section .column {
    width: 100%;
    height: 540px;
    background-color: #fff;
    background-image: url(assets/Header-bg.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-origin: content;
    background-position-x: 1rem;
    border-bottom-left-radius: 80px;
    margin: 0 auto 90px;
    top: 0;
    z-index: -1;
  }

  #main-section .column > * {
    margin-right: 18%;
    margin-left: 18%;
  }

  #main-section .column h1 {
    margin-top: 39.1%;
  }

  #cards-container .card {
    width: 87%;
    height: 450px;
    margin-right: 9.8%;
    margin-left: 12%;
    display: flex;
  }

  #cards-container .card:nth-child(even) {
    flex-direction: row-reverse;
  }
}

#main-section {
  position: relative;
  z-index: 10;
}

#logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.column h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.column p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  color: #344563;
}

.box-background p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.normal-button {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 24px;
  padding: 12px;
  gap: 10px;
  width: 132px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.normal-button:hover {
  background: #6070ff;
  color: #fff;
}

.normal-button:active {
  background: #2230d2;
  color: #fff;
}

.contact-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 15px;
  padding: 12px;
  gap: 10px;
  width: 145px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.contact-btn:hover {
  background: #6070ff;
  color: #fff;
  border: solid 1px white;
}

.contact-btn:active {
  background: #2230d2;
  color: #fff;
}

#about-me .normal-button {
  width: 165px;
  margin-top: 0;
}

.skill-header p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 0;
}

.skill-box p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.social-media-icons ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.social-media-icons p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-icons li {
  padding-right: 18px;
}

.social-media-icons i {
  font-size: 24px;
  color: #505f79;
}

#cards-container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template: 640px 684px 640px 684px / 327px;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (min-width: 376px) {
  #cards-container {
    width: 100vw;
  }

  #cards-container .card {
    display: flex;
    width: 90vw;
    height: 450px;
    height: 50%;
    column-gap: 12px;
    margin-left: 6%;
  }

  #cards-container .card img {
    width: 50%;
    padding: 1rem;
  }
}

.card {
  margin-bottom: 60px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 1rem;
}

#card-img {
  content: url(assets/Snapshoot-Portfolio.png);
}

#card-img-1 {
  content: url(assets/Snapshoot-Portfolio-1.png);
}

#card-img-2 {
  content: url(assets/Snapshoot-Portfolio-2.png);
}

#card-img-3 {
  content: url(assets/Snapshoot-Portfolio-3.png);
}

@media only screen and (min-width: 376px) {
  #contact-section::before {
    content: "";
    position: absolute;
    background-color: #6070ff;
    background-image: url(assets/contact-form-background-shapes.svg);
    background-size: contain;
    background-position: right;
    background-origin: content-box;
    background-repeat: no-repeat;
    border-top-left-radius: 81px;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #contact-section {
    width: 100vw;
    left: 0;
    background-color: white;
    border-radius: 0;
  }

  #contact-section .column {
    width: 80vw;
    margin-left: 12%;
    margin-right: 0;
  }

  #contact-section .column div {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #contact-section p {
    text-align: center;
  }

  #contact-section form ul li .contact-btn {
    margin-left: 6rem;
  }
}

@media only screen and (min-width: 768px) {
  #card-container {
    grid-template: 496px 496px 496px 496px / 768px;
  }

  #card-img {
    content: url(assets/desktop-1-Snapshoot-Portfolio.jpg);
    width: 50%;
    padding: 1rem;
  }

  #card-img-1 {
    content: url(assets/desktop-2-Snapshoot-Portfolio.png);
    width: 50%;
    padding: 1rem;
  }

  #card-img-2 {
    content: url(assets/desktop-3-Snapshoot-Portfolio.png);
    width: 50%;
    padding: 1rem;
  }

  #card-img-3 {
    content: url(assets/desktop-4-Snapshoot-Portfolio.png);
    width: 50%;
    padding: 1rem;
  }

  #cards-container {
    width: 100%;
    margin: 0;
  }

  .card {
    height: 50%;
    column-gap: 12px;
  }

  .card-content > * {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .card-content {
    padding: 1rem;
  }

  .card-content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-info {
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: start;
}

.card-info h3 {
  margin-right: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card-info p {
  margin-right: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card-info i {
  margin-right: 12px;
  font-size: 6px;
  color: #c1c7d0;
}

.card-description {
  margin-top: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.list-categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.box-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  margin-right: 8px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#about-me .column {
  background: none;
  height: 399px;
}

#skill-list .column {
  background: none;
}

#list-of-skills {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#list-of-languages {
  list-style-type: none;
  margin-left: 0;
  padding-left: 12px;
}

#about-me .social-media-icons ul li {
  padding-right: 21px;
}

.skill-header {
  width: 327px;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  border-color: #dfe1e6;
  border-width: 0 0 1px 0;
  border-style: solid;
}

#languages .skill-header {
  border: none;
}

.skill-box {
  width: 303px;
  height: 66.72px;
  align-items: center;
  margin-bottom: 0;
}

#languages {
  width: 327px;
  height: 320.15px;
}

.skill-icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

#skill-icon-1 {
  background: url(assets/Ellipse-1.png);
}

#skill-icon-2 {
  background: url(assets/Ellipse-2.png);
}

#skill-icon-3 {
  background: url(assets/Ellipse-3.png);
}

@media only screen and (min-width: 768px) {
  .flex-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    border-top-right-radius: 81px;
  }

  #languages {
    height: 180px;
  }

  #list-of-languages {
    display: flex;
    flex-direction: row;
  }

  #list-of-languages .skill-box {
    display: flex;
    flex-direction: column;
    height: 120px;
    align-items: start;
    width: 122px;
  }

  #list-of-languages .skill-box .skill-icon {
    margin-bottom: 6px;
  }

  .flex-container #about-me {
    height: 600px;
  }

  .flex-container #skill-list {
    height: 600px;
  }
}

@media only screen and (min-width: 900px) {
  #about-me {
    width: 50%;
  }

  #skill-list .column {
    width: 61%;
    margin-left: 0;
  }

  #languages {
    width: 42%;
  }

  #languages .skill-header {
    width: auto;
  }

  #frameworks,
  #skills {
    width: auto;
  }

  #cards-container .card {
    margin-left: 15%;
  }

  .flex-container {
    padding-left: 0;
  }
}

#contact-section::before {
  content: "";
  position: absolute;
  background-color: #6070ff;
  background-image: url(assets/contact-form-shapes-mobile.svg);
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-top-left-radius: 81px;
  top: 30px;
  left: 0;
  width: 100%;
  height: 90.9%;
  z-index: -1;
}

#contact-section {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 779px;
  margin: 0 auto;
  background-color: #6070ff;
  border-top-left-radius: 81px;
}

#contact-section .column {
  height: 779px;
  padding: 75px 24px 0 24px;
  align-items: center;
  text-align: center;
}

#contact-section .column div {
  margin-top: 0;
  margin-bottom: 21px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-section h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

#contact-section form {
  margin-top: 0;
  margin-bottom: 22px;
}

#contact-section p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

#contact-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contact-section .form-input {
  width: 327px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}

#contact-section input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#contact-section textarea {
  width: 327px;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  resize: none;
}

#contact-section textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

@media only screen and (min-width: 376px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  #contact-section::before {
    content: "";
    position: absolute;
    background-color: #6070ff;
    background-image: url(assets/contact-form-background-shapes.svg);
    background-size: contain;
    background-position: right;
    background-origin: content-box;
    background-repeat: no-repeat;
    border-top-left-radius: 81px;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #contact-section {
    width: 100%;
    background-color: white;
    border-radius: 0;
  }

  #contact-section .column {
    width: 60%;
    margin-left: 21%;
  }

  #contact-section p {
    text-align: center;
  }

  #contact-section form ul li .contact-btn {
    margin-left: 5.1rem;
  }
}

@media only screen and (min-width: 1156px) {
  #main-section .column {
    background-image: url(assets/Header-bg.svg);
    padding: 96px;
    border-bottom-left-radius: 128px;
    width: 100%;
    height: 916px;
    top: 1px;
  }
}
